/* background colors */
$application-background: #f5f5f5;
$content-background: #ffffff;

/* border colors */
$border-color: #cccccc;
$color-border: #000000;

/* key colors */
$selected-color: #55AA55;
