#application-wrapper {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  margin: auto;

  color-bar {
    flex: 0;
  }

  #application-content {
    flex: 1;
  }

  application-footer {
    flex: 0;
  }
}
